{% extends 'base.html' %}
{% load i18n avatar_tags %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-th-list"></i>
                    <h3 class="box-title">{% trans 'Avatar' %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body" style="padding-left: 20px">
                    <p class="help-block">{% trans "Your current avatar: " %}</p>
                    {% avatar user %}
                    {% if not avatars %}
                        <p class="help-block">{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                    {% endif %}
                    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                        {{ upload_avatar_form.as_p }}
                        <p>{% csrf_token %}<input class="btn btn-default btn-sm" type="submit" value="{% trans "Upload New Image" %}" /></p>
                    </form>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col (left) -->
    </div>
{% endblock %}
